@font-face {
  font-family: "Marshall";
  src: 
    url("/fonts/marshall.ttf") format("truetype"), /* Safari, Android, iOS */
    url("/fonts/marshall.woff") format("woff"), /* Modern Browsers */
    url("/fonts/marshall.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}
body {
    margin-top: 50px; /* Required margin for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    background: url('../img/clouds.jpg');
    background-color: black;
}

#HELP {margin-top: 50px; /* Required margin for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    background: url('https://streak.club/img/dXBsb2Fkcy9pbWFnZS81NjExLmdpZg==/600x/NkPy5J.gif');
    background-repeat: repeat;
    background-color: black;
    background-size: 100px;
    -webkit-animation:zoom 5s infinite;
    animation:zoom .1s infinite;}

@-webkit-keyframes zoom{
    0%,100%{
        background-size:.5%;
    }
    50%{
        background-size:100%;
    }
}
@keyframes zoom{
    0%, 100%{
        background-size:.5%;
    }
    50%{
        background-size:100%;
    }
}


.counter {text-align: center; padding: 30px;}

#help2 {height: 100vh;}

.headers {list-style-type: none; text-align: center; font-size: 30px; color: white; display: inline-flex; padding-left: 0px; margin-bottom: 0;}
.headers li {padding: 15px; }
.headers a {color: white;}

.footers {list-style-type: none; text-align: center; font-size: 30px; color: white; display: inline-flex; padding-left: 0px; margin-bottom: 0;}
.footers li {padding: 1.2rem; }
.footers a {color: white;}

#transparent {background-color: transparent; position: absolute;}

#headerPadding {margin-bottom: 40px;  margin-left: 0px;}

.navbar-header {margin-top: 7px;}
.navbar-header a {float: none;}
.navbar-header {width: 100%; margin:0 auto; margin-top: 30px;}
.navbar-header img {width: 66px; margin-top: -60px;}

.navbar-inverse {border-color: transparent;}

#videos {margin-top: 200px; margin-bottom: 100px;}

#center2 {position: fixed;
  top: 50%;
  transform: translateY(-50%); text-align: center;}

#center2 h1 {font-size: 300px;}

.centered {margin: 0 auto; display: block; margin-top: 150px ; }

/* 2020 CHANGES */
#menu {
    margin-top: 10rem;
}

.responsive-img {
    height: auto;
    width: 100%;
}

.footers img {
    width: 45px;
}

@media (max-width: 620px) {
    .footers img {
        width: 35px;
    }
    .footers li {
        padding: 5px;
    }
    .headers li {
        font-size: 2.0rem;
        padding: 5px;
    }
    .navbar-brand h1 {
        font-size: 5rem !important;
    }
    .navbar-header img {width: 30px; margin-top: -30px;}
}

.navbar-brand h1 {
    font-family: "Marshall";
    display: inline;
    font-size: 10rem;
    color: #ffffffe3;
}

#mc_embed_signup {
    font-size: 2rem;
}
